extends layout

block content
  div(class='textcontainer')
    p
      img(class='textheight',src='/images/raspberrypi.png')
      | &nbsp;
      a(href='/')
        | Home
    h2
      =title
    each team in allData
      div(class='fullteamcontainer')
        div(class='fullTeamTopHeader')
          div(class='fullTeamLeftHeader')
            for teams in team.teamInfo
              =teams.teamName
              br
              | Manager:&nbsp;#{teams.managerName}
              br
              | Gameweek:&nbsp;#{teams.gw}
              br
              | Overall&nbsp;Points:&nbsp;#{teams.liveOP}
              br
              | Transfers&nbsp;:&nbsp;#{teams.transfers}&nbsp;(#{teams.deductions}pts)
          div(class='fullTeamRightHeader')
            each league in team.leagueInfo
              if league.type=='H2H'
                a(href='/league/#{league.ID}/#{gameweek}')
                  | #{league.name}
                | &nbsp;| #{league.livePoints}pts&nbsp;
                img(class='arrowheight', src='/images/Arrow_#{league.posDifferential}.png')
                | &nbsp;#{league.livePosition}
                br
              else if league.type=='Classic'
                a(href='/league/#{league.ID}/#{gameweek}')
                  | #{league.name}
                |&nbsp;| #{league.liveLP}pts&nbsp;
                img(class='arrowheight', src='/images/Arrow_#{league.posDifferential}.png')
                | &nbsp;#{league.livePosition}
                br
              else
                | Error Loading
                br


        each row in team.fieldRows
          div(class='fullTeamRow')
            table(class='playersTable')
              tr
                each player in row
                  td
                    =player.webName
              tr
                each playerScore in row
                  td
                    if playerScore.playerID == playerScore.captainID
                      a(class="tooltip")
                        =playerScore.score*2
                        span
                          table(class='boarderlessTable')
                              for item in playerScore.breakdown
                                tr
                                  for field in item
                                    td
                                      =field
                      | &nbsp;C
                    else if playerScore.playerID == playerScore.viceCaptainID
                      a(class="tooltip")
                        =playerScore.score
                        span
                          table(class='boarderlessTable')
                              for item in playerScore.breakdown
                                tr
                                  for field in item
                                    td
                                      =field
                      | &nbsp;V
                    else
                      a(class="tooltip")
                        =playerScore.score
                        span
                          table(class='boarderlessTable')
                              for item in playerScore.breakdown
                                tr
                                  for field in item
                                    td
                                      =field

                    if playerScore.status != 'a'
                      | &nbsp;
                      a(class="tooltip")
                        img(class='warningheight', src='/images/status_#{playerScore.status}.png')
                        span
                          =playerScore.news


        div(class='fullTeamRow')
          p Bench
          table(class='benchTable')
            tr
              each player in team.benchRows
                td
                  =player.webName
            tr
              each playerScore in team.benchRows
                td
                  if playerScore.playerID == playerScore.captainID
                    a(class="tooltip")
                      =playerScore.score*2
                      span
                        table(class='boarderlessTable')
                            for item in playerScore.breakdown
                              tr
                                for field in item
                                  td
                                    =field
                    | &nbsp;C
                  else if playerScore.playerID == playerScore.viceCaptainID
                    a(class="tooltip")
                      =playerScore.score
                      span
                        table(class='boarderlessTable')
                            for item in playerScore.breakdown
                              tr
                                for field in item
                                  td
                                    =field
                    | &nbsp;V
                  else
                    a(class="tooltip")
                      =playerScore.score
                      span
                        table(class='boarderlessTable')
                            for item in playerScore.breakdown
                              tr
                                for field in item
                                  td
                                    =field
                  if playerScore.status != 'a'
                    | &nbsp;
                    a(class="tooltip")
                      img(class='warningheight', src='/images/status_#{playerScore.status}.png')
                      span
                        =playerScore.news
